body{
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    height: 1400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#bottom-container{
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 1170px;
    justify-content: flex-start;
    margin-top: 30px;
    padding-left: 80px;
}

.mymenu{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 500px;
    margin-right: 10px;
}

.mymenu__setting{
    display: flex;
    flex-direction: column;
    width: 152px;
    height: 80px;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    border: 1px solid var(--gray);
    color: var(--gray);
    margin-bottom: 5px;
    
}

.mymenu__setting img{
    margin-bottom: 5px;
}

.search-list{
    width: 1000px;
    height: 1170px;
    margin: 30px 0 0 15px;
}

.search-list__name{
    display: flex;
    width: 975px;
    height: 100px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.search-list__name span{
    color: white;
    font-size:35px;
}

.search-list__result{
    display: flex;
    width: 970px;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    margin: 5px 0 0 10px;
}

.search-list__result i{
    margin-right: 10px;
    color: red;
    
}
.search-list__result h1{
    margin-right: 5px;
}

.search-list__result span{
    font-weight: 800;
    margin: 0px 5px 0px 5px;
}

.search-list__category{
    display: flex;
    flex-direction: row;
    width: 975px;
    height: 100px;
    border-bottom: 1px solid var(--gray);
   
}

.search-list__category__big{
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 200px;
    padding-left: 15px;
    margin-bottom: 25px;
}

.search-list__category__small{
    display:inline;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 590px;
    height: 100px;
    margin-top: 20px;
    line-height: 2;
}

.search-list__category_resist{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 940px;
    height: 80px;
    background-color: rgb(226, 226, 226);
    padding-left: 40px;
    margin-top: 50px;
}

.search-list__category_resist span{
    font-size: 12px;
    margin:0 5px 0 5px;
    font-weight: 600;
    color: rgb(90, 90, 90);
}

.search-list__category_resist__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    border: 1px solid rgb(51, 51, 51);
}

.search-list__category_sort{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 980px;
    height: 80px;
    padding-top: 40px;
}

.search-list__category_sort span{
    margin:0 30px 0px 5px;
    font-size: 12px;
}

.search-list__category_sort_btn{
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    border: 1px solid var(--gray);
    padding-left: 10px;
}

.search-list__category_power{
    width: 980px;
    height: 45px;
    background-color: var(--brown);
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0 0 10px;
}

.search-list__category_power span{
 color : white;
 margin-left: 5px;
}

.search-list__category_goods{
    display: flex;
    width: 980px;
    height: 100vh;
    margin-top: 20px;
}


.search-list__explain{
    display: flex;
    flex-direction: column;
    width:230px;
    height: 450px;
    margin: 0 10px 0 10px;
    justify-content: space-between;
    position: relative;
}

.explain-heart{
    position: absolute;
    color: whitesmoke;
    display: flex;
    left: 190px;
    bottom: 230px; 
}

.explain-heart i{
    font-size: 30px;
}

.explain-brand{
    font-weight: 600;
}
.explain-title{
    font-size: 14px;
}

.explain-seller{
    font-size: 12px;
    color: var(--gray);
}

.explain-price{
    font-weight: 600;
    font-size: 14px;
}

.explain-delevery{
    font-size: 12px;
    color: var(--gray);
    background-color: whitesmoke;
    width: 50px;
    height: 15px;
}

.explain-Mileage{
    font-size: 12px;
    color:rgb(67, 201, 156);
}

.shopping-helper__column{
    width: 300px;
    height: 100vh;
   
}

.shopping-helper{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 450px;
    border: 1px solid var(--gray);
    position: fixed;
    margin-left: 20px;
}

.shopping-helper__menu{
    display: flex;
    border-top: 1px solid var(--gray);
    font-size: 12px;
    width: 100px;
    height: 25px;
    align-items: center;
    justify-content: center;
    color: var(--gray);
}

.shopping-helper__recent{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--gray);
    font-size: 12px;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.shopping-helper__recent span{
    color: var(--gray);
    font-size: 10px;
}

.shopping-helper__top{
    display: flex;
    border-top: 1px solid var(--gray);
    font-size: 12px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: black;
    
}

.shopping-helper__top i{
    color: var(--gray);
    margin-right: 5px;
}

.shopping-helper__top span{
    color: white;
}

