body{
    display: flex;
    flex-wrap: nowrap;
    width: 1400px;
    height: 1400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#upper-container{
    width: 1400px;
    height: 230px;
}

.nav-var{
    width: 70%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 200px;
    align-items: center;
}

.nav-var__column span, i{
    font-size: 12px;
}

.nav-var__column__right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider{
    width: 1px;
    height: 15px;
    background-color: var(--gray);
    margin: 0 10px;
}
.nav-var__column__right span{
    color:var(--gray);
    font-size: 12px;
}

.nav__menu__quick {
    width: 100px;
    height: 20px;
    color: white;
    background-color: var(--gray);
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.welcome-header{
    width: 70%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 200px;
    align-items: center;
    margin-top: 5px;
}

.welcome-header h1{
    font-size: 50px;
    font-weight: 800;
}

.welcome-header__search{
    width : 250px;
    height: 20px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 10px;
   
}

.welcome-header__search input{
    border: 0px;
}

.welcome-header__search i{
    margin-left: 40px;
    font-size: 14px;
}

.sales-category{
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 30px;
    background-color: var(--brown);
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 45px;
}

.sales-category__menu{
    width: 80%;
    font-size: 14px;
}

.sales-category__menu span{
    margin: 20px;
    color: white;
    font-weight: 100;
}

.sales-category__menu span:first-child{
    margin-right:150px;
}

.select-category{
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 30px;
    
}

.select-category__menu{
    width:182px;
    font-size: 13px;
    border: 1px solid var(--gray);
    height: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 5px;
}

.select-category__menu__blank{
    width:200px;
    height: 30px;
    border: 1px solid var(--gray);
}

.select-category__menu__icon{
    display: flex;
    align-items: center;
    height: 32px;
    width: 32px;
    justify-content: center;
    background-color: var(--brown);
    
}

.select-category__menu__icon i{
    font-size: 14px;
    color: white;
}





