@import "reset.css";

body{
    width: 100vw;
    height: 100vh;
}

.nav-var{
    width: 95%;
    height: 20;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

.nav-var__column__right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider{
    width: 1px;
    height: 15px;
    background-color: rgb(148, 148, 148);
    margin: 0 10px;
}
.nav-var__column__right span{
    color: rgb(148, 148, 148);
}

.nav__menu__quick {
    width: 100px;
    height: 20px;
    color: white;
    background-color: rgb(148, 148, 148);
    
}
