@import "reset.css";

body{
    width: 100vw;
    height: 100vh;
}

.nav-var{
    width: 70%;
    height: 20;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 150px;
    align-items: center;
}

.nav-var__column__right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divider{
    width: 1px;
    height: 15px;
    background-color: rgb(148, 148, 148);
    margin: 0 10px;
}
.nav-var__column__right span{
    color: rgb(148, 148, 148);
}

.nav__menu__quick {
    width: 100px;
    height: 20px;
    color: white;
    background-color: rgb(148, 148, 148);
    
}

.welcome-header{
    width: 70%;
    height: 20;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 150px;
    align-items: center;
    margin-top: 5px;
}

.welcome-header h1{
    font-size: 50px;
    font-weight: 800;
}

.welcome-header__search{
    width : 250px;
    height: 30px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 15px;
}

.welcome-header__search input{
    border: 0px;
}

.welcome-header__search i{
    margin-left: 30px;
}

